.container
{
  padding-top: 5rem;
  display: flex;
  align-items:stretch;
  justify-content: space-around;
}

.nav-item
{
  text-decoration: none;
  color: #05171f;
}

.logo img {
  padding: 30px 0;
  width: 100%;
}

.bttns{
  margin-bottom: 5%;
}

.bttn{
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}


.bttn.primary{
  display: inline-block;
  width: max-content;
  background: #21A69A;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}


.bttn.secondary{
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.bttn.secondary:hover {
  background: #05171f;
  color: white;
}

.bttn.primary:hover {
  background: #21a69a;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  /* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}



.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
  width: 100%;
}

.resource-list a {
  color: black;
  line-height: 30px;
}


.resource-list ul {
  text-align: left;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}