.main_banner
{
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #215bf9;
  
}

.nav-item
{
  text-decoration-line: none;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.anObjective{
  padding-top: 25rem;
}
#content{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #edeeef;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}

.emptySpace
{
  margin-left: 30%;
}


li{ display: inline-block;}

.my-name{
  max-width: max-content;
}
#copyri{
  font-size: .7em;
}

.ObjectiveContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.objective-text .name
{
  font-size: 1.6em;
}

.objective-text .secondDets
{
  font-size: 1.3em;
  padding-bottom: 0;
}

.objective-text
{
  font-family: 'Lucida Sans', Arial, sans-serif;
  padding-left: 1em;
  color: black;
  font-size: 1.4em;
  font-weight: 300;
  margin-right: 3rem;
}

.anObjective img{
  width:300px;
  height: auto;
  border-radius: 20%;
  
}

.my_img_2{
  padding-left: 3rem;
}
/*
ul li:hover
{
  max-width: max-content;
  background-color: #093C4F;
}



.github
{
  padding-left: 30%;
}

.LinkedIn
{
  padding-left: 30%;
}
*/

.logo img {
  padding: 30px 0;
  width: 100%;
}

.bttns{
  margin-bottom: 5%;
}

.bttn{
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}


.bttn.primary{
  display: inline-block;
  width: max-content;
  background: #21A69A;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}

.header img{
  width: 300px;;
  height: auto;
  border-radius: 50%;
  margin: auto;
}
.my_img{
  padding-top: 2em;
}

.header{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  
}
.bttn.secondary{
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.bttn.secondary:hover {
  background: #05171f;
  color: white;
}

.bttn.primary:hover {
  background: #21a69a;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  /* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}


.header h1 {
margin: 0;
font-size: calc(max(4vw, 32px));
}

.header h2{
  margin: 0;
  font-size: calc(max(3vm, 24px));
  color: #141414;
}





footer {
  padding-top: 10px;
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  
  text-align: center;
}

footer img {
    width: 20px;
}

